<div class="row">
<div  class="col-md-10">
<ul class="nav nav-pills">

	<li ><a href="home">Home</a></li>
	{% if request.session.firstname and request.session.firstname != "Guest" and request.session.membertype != "admin" %}
	<li><a href="dashboard">Dashboard</a></li>
	<li><a href="logout">Logout</a></li>
	<!--add other things here -->
	
	{% endif %}
	{% if request.session.firstname == "coordinator" %}
	<li><a href="coordinatordashboard">Dashboard</a></li>
	<li><a href="logout">Logout</a></li>
	{% endif %}
	

</ul>
</div>
<div class="col-md-2">
<a hre="#">Logged in as {{request.session.firstname}}</a>

</div>
</div>