{% include "includes/head.html" %}
{% include "includes/menubar.html" %}
{{msg}}

<div class="row">

<div class="col-md-6">
{{studentregistrations}} student(s) have registered.<br>
<a href="../coordinator/list/mentee" class="btn btn-primary">Click</a> to see the list of students registered.

</div>
<div>
{{alumniregistrations}} alumni have registered.<br>
<a href="../coordinator/list/mentor" class="btn btn-primary">Click</a> to see the list of mentors registered.
</div>
</div>
<br><br>
<div class="row">

<a href="allot" class="btn btn-success">Begin the allottment.</a>
 </div>