{% include "includes/head.html" %}
{% include "includes/menubar.html" %}
{% if match1 %}
<table class="table">
<tr><th>Mentor Id</th><th>Department</th><th>Interest</th><th>organization</th><th>Desingation</th></tr>
{% for match in match1%}
<tr>
{% for item in match %}
<td>{{item}}</td>
{% endfor %}
{% endfor %}
</tr>
</table>

{% endif %}
{% if match2 %}
<table class="table">
<tr><th>Mentor Id</th><th>Department</th><th>Interest</th><th>organization</th><th>Desingation</th></tr>
{% for match in match2 %}
<tr>
{% for item in match %}
<td>{{item}}</td>
{% endfor %}
{% endfor %}
</tr>
</table>

{% endif %}
{% if match3 %}
<table class="table">
<tr><th>Mentor Id</th><th>Department</th><th>Interest</th><th>organization</th><th>Desingation</th></tr>
{% for match in match3 %}
<tr>
{% for item in match %}
<td>{{item}}</td>
{% endfor %}
{% endfor %}
</tr>
</table>

{% endif %}
{% if match4 %}
<table class="table">
<tr><th>Mentor Id</th><th>Department</th><th>Interest</th><th>organization</th><th>Desingation</th></tr>
{% for match in match4 %}
<tr>
{% for item in match %}
<td>{{item}}</td>
{% endfor %}
{% endfor %}
</tr>
</table>

{% endif %}