{% include "includes/head.html" %}
<br>
<div style="text-align:center" class="jumbotron row">

	<div class="col-md-3"></div>
<div class="col-md-6">
	<h2>Register</h2>
	<br>{% if msg %}
	<center><span class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{{msg}}
	{% endif %}
	{% if errors %}
	{% for error in errors %}
	{{error}} &nbsp;&nbsp;&nbsp;&nbsp;
	{% endfor %}
	{% endif %}
</span></center><br><br>
	<form action="" method="POST">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Register" name="Submit" class="btn btn-success">
</form>
</div>
<div class="col-md-3"></div>
</div>
{% include "includes/footer.html" %}